<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
    <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef> Publisher </th>
        <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
    </ng-container>

    <ng-container matColumnDef="advertiserName">
        <th mat-header-cell *matHeaderCellDef> Advertiser </th>
        <td mat-cell *matCellDef="let element"> {{element.advertiserName}} </td>
    </ng-container>

    <ng-container matColumnDef="offerName">
        <th mat-header-cell *matHeaderCellDef> Offer </th>
        <td mat-cell *matCellDef="let element"> {{element.offerName}} </td>
    </ng-container>
    
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Sale amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    
    <ng-container matColumnDef="comission">
        <th mat-header-cell *matHeaderCellDef> Comission </th>
        <td mat-cell *matCellDef="let element"> {{element.comission}}% </td>
    </ng-container>
    
    <ng-container matColumnDef="earnings">
        <th mat-header-cell *matHeaderCellDef> Publisher’s earnings </th>
        <td mat-cell *matCellDef="let element"> {{element.earnings}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>