.example-container {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}